/*------------- general styles -------------*/

html {
  font-size: 16px;
}

body {
  background: url('../assets/background-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 2.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: $white;
}

h2 {
  font-size: 1.625rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: $white;
}

h3 {
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $white;
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $white;
}

img {
  width: 50%;
  margin: 0 auto;
}